#mis_compras img{
	width: 100px;
	float: left;
}

#mis_compras .thumbnail{
	min-height: 75px;
}

#mis_compras .canjeado{
	color: red;
}

#mis_compras .pendiente{
	color: green;
}

.totales-por-cupon span{
	font-size: 16px;
    font-weight: bold;
}

.totales-por-establecimiento{
	margin-top: 25px;
	color: #aaa;
}

.totales-por-establecimiento h5{
	margin-bottom: 5px
}
