{% extends 'base.html.twig' %}

{% block title %} Redirigiendo a pasarela de pago | Cuponify!{% endblock %}

{% block stylesheets %}
    {{ parent() }}

 {% endblock %}

{% block body %}

    <header class="jumbotron hero-spacer">
        <h2>Redirigiendo a la pasarela de pago...</h2>
        <p>(* página sin funcionalidad, solo para presentación)</p>
    </header>

{% endblock %}
